<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-351">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">Frequently Asked Questions</h2>
    </div>
    <ul class="cs-faq-group">
      <li class="cs-faq-item active">
        <button class="cs-button">
          <span class="cs-button-text">
            What services does McEvoy Drywall Colorado Springs offer?
          </span>
        </button>
        <p class="cs-item-p">
          We offer a comprehensive range of services, including drywall
          installation, repair, and skimcoating/resurfacing. For a detailed
          list, please visit our
          <a href="/services/drywall-installation/">Drywall Installation</a> and
          <a href="/services/drywall-repair/">Drywall Repair</a> pages.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> Do you handle small projects? </span>
        </button>
        <p class="cs-item-p">
          Absolutely! No project is too small for us. We aim to provide quality
          service for projects of all sizes. Visit our
          <a href="/projects/">Projects</a> page for examples.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            Isn't drywall repair and installation messy?
          </span>
        </button>
        <p class="cs-item-p">
          We make every effort to minimize mess and disruption, ensuring a clean
          and efficient workspace. Learn more about our process on the
          <a href="/services/drywall-installation/">Drywall Installation</a>
          page.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            Can I get a free quote for my drywall installation or repair
            project?
          </span>
        </button>
        <p class="cs-item-p">
          Yes, we provide free quotes. Just head over to our
          <a href="/contact/">Contact Us</a> page to get started.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            How does the drywall installation process work?
          </span>
        </button>
        <p class="cs-item-p">
          Our installation process is meticulous and efficient, focusing on
          quality at each step. For a detailed breakdown, check out our
          <a href="services/drywall-installation/">Drywall Installation</a>
          page.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            Do you prime and paint the drywall after installation?
          </span>
        </button>
        <p class="cs-item-p">
          Yes, we offer priming and painting services to give your drywall a
          finished look. More details can be found on our
          <a href="/projects/">Projects</a> page.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            How do I know if my home needs drywall resurfacing?
          </span>
        </button>
        <p class="cs-item-p">
          If you notice rough texture, cracks, or other imperfections, it might
          be time for resurfacing. To learn more, visit our
          <a href="/services/skimcoat-resurfacing/">Skimcoating/Resurfacing</a>
          page.
        </p>
      </li>
    </ul>
    <ul class="cs-faq-group">
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            How can skimcoating help with repairing wallpaper damage?
          </span>
        </button>
        <p class="cs-item-p">
          Skimcoating provides a smooth finish that can effectively cover up
          wallpaper damage. For more information, visit our
          <a href="/services/skimcoat-resurfacing/">Skimcoating/Resurfacing</a>
          page.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            What are the key factors that influence the cost of drywall repair?
          </span>
        </button>
        <p class="cs-item-p">
          Cost is determined by factors like project size, materials, and the
          level of finish you choose. For more details, visit our
          <a href="/services/drywall-repair/">Drywall Repair</a> page.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            What do clients say about McEvoy Drywall Colorado Springs?
          </span>
        </button>
        <p class="cs-item-p">
          Our clients praise our attention to detail and excellent service. Read
          their testimonials on our <a href="/reviews/">Reviews</a> page.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            Can you accommodate tight schedules?
          </span>
        </button>
        <p class="cs-item-p">
          Yes, we strive to meet your timeline without compromising on quality.
          To discuss your project schedule, contact us through our
          <a href="/contact/">Contact Us</a> page.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            What is a Level 5 Finish and why should I consider it?
          </span>
        </button>
        <p class="cs-item-p">
          A Level 5 Finish offers the smoothest surface possible, ideal for
          high-end projects. Learn more on our
          <a href="/services/skimcoat-resurfacing/">Skimcoating/Resurfacing</a>
          page.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            What are the benefits of skimcoating over wallpaper removal?
          </span>
        </button>
        <p class="cs-item-p">
          Skimcoating can be a quicker and less messy solution, providing a
          fresh, smooth surface without the hassle of wallpaper removal. Visit
          our
          <a href="/services/skimcoat-resurfacing/">Skimcoating/Resurfacing</a>
          page to learn more.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> What areas do you serve? </span>
        </button>
        <p class="cs-item-p">
          We serve the entire Colorado Springs area and nearby locations. For
          more information on our service areas, check out our
          <a href="/contact/">Contact Us</a> page.
        </p>
      </li>
    </ul>
    {{ button() }}
  </div>
</section>
