---
title: 'Projects'
description: 'Browse our portfolio to see completed drywall projects in Colorado Springs. From installation to repair, witness the quality of our work.'
preloadImg: '/assets/images/cabinets2.webp'
permalink: 'projects/'
eleventyNavigation:
  key: Projects
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/projects.css" />
{% endblock %}
<!-- Start content -->
{% block body %}

<!-- Add hero above the fold -->
{{ hero({ text: "Our Projects" }) }}

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
  <div class="cs-container">
    <div class="cs-image-group">
      <!-- Row 1-->
      <div class="cs-row cs-row-1">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port1-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port1.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port1.jpg"
            alt="new hallway"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port4-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port4.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port4.jpg"
            alt="new home construction"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port7-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port7.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port7.jpg"
            alt="building a new wall"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 2 -->
      <div class="cs-row cs-row-2">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port2-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port2.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port2.jpg"
            alt="new kitchen"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port5-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port5.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port5.jpg"
            alt="apartment addition"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port8-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port8.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port8.jpg"
            alt="kew kitchen cabinets"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 3 -->
      <div class="cs-row cs-row-3">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port3-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port3.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port3.jpg"
            alt="new kitchen"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port6-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port6.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port6.jpg"
            alt="apartment addition"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port9-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port9.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port9.jpg"
            alt="kew kitchen cabinets"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>

        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
    </div>
    <a href="/contact/" class="cs-button-solid">Contact Us</a>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
