---
title: 'Services'
description: 'McEvoy Drywall offers a range of drywall services including repair, installation, and skimcoating. Find the service that suits your needs.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'services/'
eleventyNavigation:
  key: Services
  order: 150
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Services</h1>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/cabinets2-m.jpg"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/cabinets2.jpg"
      alt="kitchen cabinets"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1329">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex-group">
        <span class="cs-topper">Our Services</span>
        <h2 class="cs-title">Drywall Services in Colorado Springs</h2>
      </div>
      <p class="cs-text">
        From water-damage repair to surface restoration to wallpaper removal,
        McEvoy Drywall of Colorado Springs is here to provide the expert help
        you're looking for!
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="/services/drywall-installation/" class="cs-link">
          <span class="cs-number">01</span>
          <h3 class="cs-h3">Drywall Installation</h3>
          <p class="cs-item-text">
            Drywall installation for small and large projects
          </p>
        </a>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/original-room-0007-sq.jpeg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/original-room-0007-sq.jpeg"
          />
          <img
            decoding="async"
            src="/assets/images/original-room-0007-sq.jpeg"
            alt="finance"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </picture>
        <!--On Hover Image-->
        <img
          class="cs-arrow"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg"
          alt="arrow"
          width="412"
          height="249"
          aria-hidden="true"
        />
      </li>
      <li class="cs-item">
        <a href="/services/drywall-repair/" class="cs-link">
          <span class="cs-number">02</span>
          <h3 class="cs-h3">Drywall Repair</h3>
          <p class="cs-item-text">From tiny patches to large areas</p>
        </a>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/drywall-crack-0001-sq.jpeg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/drywall-crack-0001-sq.jpeg"
          />
          <img
            decoding="async"
            src="/assets/images/drywall-crack-0001-sq.jpeg"
            alt="finance"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </picture>
        <!--On Hover Image-->
        <img
          class="cs-arrow"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg"
          alt="arrow"
          width="412"
          height="249"
          aria-hidden="true"
        />
      </li>
      <li class="cs-item">
        <a href="/services/skimcoat-resurfacing/" class="cs-link">
          <span class="cs-number">03</span>
          <h3 class="cs-h3">Skimcoating & Resurfacing</h3>
          <p class="cs-item-text">Transform your old walls and ceilings</p>
        </a>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/drywall-tools-0003.jpeg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/drywall-tools-0003.jpeg"
          />
          <img
            decoding="async"
            src="/assets/images/drywall-tools-0003.jpeg"
            alt="finance"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </picture>
        <!--On Hover Image-->
        <img
          class="cs-arrow"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg"
          alt="arrow"
          width="412"
          height="249"
          aria-hidden="true"
        />
      </li>
    </ul>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
