---
title: "McEvoy & Sons Drywall | Shelby County's Best Drywall Repair & Installation"
description: 'McEvoy & Sons Drywall in Germantown, TN offers top-notch drywall installation, repair, and finishing. Need drywall contractors or repair near you? Trust our family legacy.'
preloadImg: '/assets/images/landing.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper">Trusted Memphis-Area Drywall Experts</span>
      <h1 class="cs-title">McEvoy & Sons Drywall</h1>
      <p class="cs-text">
        For over six decades, McEvoy & Sons Drywall has upheld a family
        tradition of excellence in drywall installation and wall repair. Now
        serving Germantown, TN and neighboring areas in Shelby County, you can
        trust us for high-quality drywall repair at competitive prices.
      </p>
      <a href="/contact/" class="cs-button-solid">Get a Free Estimate NOW</a>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-picture">
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landing.jpg"
      alt="beautifully finished drywall"
      width="2500"
      height="1667"
      loading="eager"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services" class="services">
  <!-- Get Icons From flaticon.com -->
  <div class="card">
    <a href="services/drywall-repair/">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/service1.svg"
          alt="drywall repair"
          width="48"
          height="48"
        />
      </picture>
      <h2>Drywall Repair</h2>
      <p>
        We provide expert drywall repair services, restoring your walls to their
        original condition after any kind of damage.
      </p>
    </a>
  </div>
  <div class="card">
    <a href="/services/drywall-installation/">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/service2.svg"
          alt="drywall installation"
          width="48"
          height="48"
        />
      </picture>
      <h2>Drywall Installation</h2>
      <p>
        We provide professional drywall for small and large projects. Your walls
        and ceilings will be durable, seamless, and smooth.
      </p>
    </a>
  </div>
  <div class="card">
    <a href="/services/skimcoat-resurfacing/">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/service3.svg"
          alt="resurfacing"
          width="48"
          height="48"
        />
      </picture>
      <h2>Resurfacing</h2>
      <p>
        We can revitalize your home's interior with skilled resurfacing,
        removing popcorn ceilings and outdated textures.
      </p>
    </a>
  </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section class="side-by-side">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/hallway-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/hallway.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/hallway.jpg"
          alt="drywall in kitchen"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/kieran-mcevoy.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/kieran-mcevoy.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/kieran-mcevoy.jpg"
          alt="hallway with new drywall"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Your Home, Your Project</span>
      <h2 class="cs-title">No Job Is Too Small!</h2>
      <p class="cs-text">
        Since 1960, we've been committed to delivering top-notch drywall
        services, whether you have a small repair or a major project. Our
        commitment to quality has only grown stronger over the years.
      </p>
      <p class="cs-text">
        Our skilled team combines time-tested techniques with innovative
        approaches to deliver impeccable results, earning trust and appreciation
        from thousands of satisfied customers.
      </p>
      <div class="cs-flex-group">
        <p class="cs-flex-p">
          For over six decades, we've proudly served thousands of homeowners,
          with many becoming repeat customers. Their continued trust is the
          testament to our legacy.
        </p>
        <span class="cs-name">Kieran McEvoy</span>
        <span class="cs-job">Founder</span>
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/quote-white.svg"
          alt="gavel"
          width="136"
          height="77"
        />
      </div>
      <a href="/contact/" class="cs-button-solid">Contact Us</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section class="side-by-side-r">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/long-room-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/long-room.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/long-room.jpg"
          alt="long room with drywall"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/arch-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="kitchen ceiling restoration"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Drywall Services</span>
      <h2 class="cs-title">
        Professional Drywall Installation in Shelby County, TN
      </h2>
      <p class="cs-text">
        In the realm of drywall installation and wall repair, our experienced
        team delivers spot-on finishes consistently. We've got the trade down to
        a science, ensuring first-rate craftsmanship.
      </p>
      <p class="cs-text">
        Whether it's residential homes or commercial properties, our attention
        to detail results in walls that are built to last. Experience the
        superior quality that has distinguished us for over six decades.
      </p>

      <a href="/services/drywall-installation/" class="cs-button-solid"
        >Drywall Installation</a
      >
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section class="side-by-side">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/arch-m.webp"
        />
        <source media="(min-width: 601px)" srcset="/assets/images/arch.webp" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/arch.jpg"
          alt="drywall arch"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/sander-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/sander.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/sander.jpg"
          alt="drywall contractor with sander"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Drywall Repair</span>
      <h2 class="cs-title">Drywall Repair</h2>
      <p class="cs-text">
        Walls inevitably face wear and tear, from cracks, holes, and other forms
        of damage to structural issues caused by settling or water damage.
        That's where McEvoy & Sons Drywall steps in, offering specialized
        drywall repair services that restore your walls and ceilings.
      </p>

      <p class="cs-text">
        We carefully evaluate the scope of the damage and come up with a
        cost-effective repair plan that doesn't just patch things up but ensures
        lasting resilience. Far from quick-fix approaches, our wall repair
        solutions stand the test of time. It's this unwavering dedication to
        quality that establishes us as the experts you can rely on for drywall
        repair.
      </p>

      <a href="/services/drywall-repair/" class="cs-button-solid"
        >Learn About Drywall Repair</a
      >
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section class="side-by-side-r">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/living-room-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/living-room.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/living-room.jpg"
          alt="living room skimcoat"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/skimcoat-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/skimcoat.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/skimcoat.jpg"
          alt="skimcoat on drywall"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Drywall Skimcoating & Resurfacing</span>
      <h2 class="cs-title">Wall and Ceiling Restoration</h2>
      <p class="cs-text">
        Skimcoating isn't just an art - it's a smart investment for your home.
        Why tear down and replace when you can breathe new life into your walls
        and ceilings? With McEvoy & Sons Drywall, you get more than just a fix:
        you get a cost-effective upgrade.
      </p>

      <p class="cs-text">
        Wondering why skimcoating is your go-to option? Simple. It's the
        budget-friendly way to erase flaws and imperfections, priming your
        surfaces for that fresh coat of paint or new wallpaper. Ideal for both
        newly built spaces and sprucing up older ones, it's like giving your
        home a facelift without the hefty price tag.
      </p>

      <p class="cs-text">
        Our team isn't just good; we're artisans in skimcoating and resurfacing.
        We use specialized techniques and the right materials to achieve that
        coveted level-5 finish, enhancing your living spaces while boosting your
        property's value. Trust us, it's more than a service. It's smart home
        improvement.
      </p>
      <a href="/services/skimcoat-resurfacing/" class="cs-button-solid"
        >Learn About Skimcoating</a
      >
    </div>
  </div>
</section>

{% include 'components/faq.html' %}

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
  <div class="cs-container">
    <span class="cs-topper">Our Portfolio</span>
    <h2 class="cs-title">Top-Quality & Reliable Drywall Finishing</h2>
    <div class="cs-image-group">
      <!-- Row 1-->
      <div class="cs-row cs-row-1">
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port1-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port1.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port1.jpg"
            alt="new hallway drywall"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port4-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port4.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port4.jpg"
            alt="new home construction"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port7-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port7.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port7.jpg"
            alt="building a new wall"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
      </div>
      <!-- Row 2 -->
      <div class="cs-row cs-row-2">
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port2-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port2.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port2.jpg"
            alt="new kitchen"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port5-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port5.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port5.jpg"
            alt="apartment addition"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port8-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port8.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port8.jpg"
            alt="new kitchen walls"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
      </div>
      <!-- Row 3 -->
      <div class="cs-row cs-row-3">
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port3-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port3.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port3.jpg"
            alt="new kitchen"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port6-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port6.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port6.jpg"
            alt="apartment addition"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port9-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port9.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port9.jpg"
            alt="new kitchen ceiling with drywall"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
      </div>
    </div>
    <a href="/contact/" class="cs-button-solid">Contact Us</a>
  </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
  <div class="cs-container">
    <span class="cs-topper">Client Testimonials</span>
    <h2 class="cs-title">Hear Directly From Our Clients</h2>
    <p class="cs-text">
      We've had the chance to help tons of homeowners over the years, and their
      kind words keep us pushing to be even better. Here's what some of them
      have to say.
    </p>
    <ul class="cs-card-group">
      <!-- Review 1 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/profile.svg"
          alt="profile picture"
          width="80"
          height="80"
        />
        <p class="cs-item-p">
          Very professional! I was amazed at the job this company did for me.
          Kieran is very responsive & communicates very well regarding timing of
          job. Work was done to perfection!! The painter that followed him asked
          who was the spackler. It was so nice to hear that he was also
          impressed.
        </p>
        <span class="cs-reviewer">
          Lillian F.
          <span class="cs-desc">Satisfied Homeowner</span>
        </span>
        <img
          class="cs-item-stars"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/stars-yellow.svg"
          alt="5 star rating"
        />
      </li>
      <!-- Review 2 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/profile-woman.svg"
          alt="profile picture"
          width="80"
          height="80"
        />
        <p class="cs-item-p">
          What an amazing job! Their responsiveness was timely and efficient.
          Their work was above and beyond: clean lines, ready to paint and they
          even found things we missed mentioning during our estimate walk
          through.
        </p>
        <span class="cs-reviewer">
          Lisa C.
          <span class="cs-desc">Happy Client</span>
        </span>
        <img
          class="cs-item-stars"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/stars-yellow.svg"
          alt="stars"
          width="96"
          height="16"
        />
      </li>
    </ul>
    <a
      aria-label="See All Testimonials"
      href="/reviews/"
      class="cs-button-solid"
      >See All Testimonials</a
    >
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
