---
title: "McEvoy & Sons Drywall | Shelby County's Best Drywall Repair & Installation"
description: 'McEvoy & Sons Drywall in Germantown, TN offers top-notch drywall installation, repair, and finishing. Need drywall contractors or repair near you? Trust our family legacy.'
preloadImg: '/assets/images/landing.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/local.css" />
<link rel="stylesheet" href="/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on('init', (user) => {
      if (!user) {
        window.netlifyIdentity.on('login', () => {
          document.location.href = '/admin/';
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper">Trusted Memphis-Area Drywall Experts</span>
      <h1 class="cs-title">McEvoy & Sons Drywall</h1>
      <p class="cs-text">
        Serving homeowners since 1960, McEvoy & Sons Drywall combines family
        tradition with expert drywall installation and repair. Trust in our
        legacy for unmatched quality at great prices.
      </p>
      <a href="/contact/" class="cs-button-solid">Get a Free Estimate NOW</a>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-picture">
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landing.jpg"
      alt="beautifully finished drywall"
      width="2500"
      height="1667"
      loading="eager"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services" class="services">
  <!-- Get Icons From flaticon.com -->
  <div class="card">
    <a href="services/drywall-repair/">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/service1.svg"
          alt="drywall repair"
          width="48"
          height="48"
        />
      </picture>
      <h2>Drywall Repair</h2>
      <p>
        Expert drywall repair near you, fixing holes, cracks, and wear with
        precision.
      </p>
    </a>
  </div>
  <div class="card">
    <a href="/services/drywall-installation/">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/service2.svg"
          alt="drywall installation"
          width="48"
          height="48"
        />
      </picture>
      <h2>Drywall Installation</h2>
      <p>
        Professional drywall installation ensuring durable, seamless, and smooth
        walls.
      </p>
    </a>
  </div>
  <div class="card">
    <a href="/services/skimcoat-resurfacing/">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/service3.svg"
          alt="resurfacing"
          width="48"
          height="48"
        />
      </picture>
      <h2>Resurfacing</h2>
      <p>
        Transform your home with skilled resurfacing, removing popcorn ceilings
        and outdated textures.
      </p>
    </a>
  </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/hallway-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/hallway.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/hallway.jpg"
          alt="drywall in kitchen"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/kieran-mcevoy.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/kieran-mcevoy.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/kieran-mcevoy.jpg"
          alt="hallway with new drywall"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Your Home, Your Project</span>
      <h2 class="cs-title">No Job Is Too Small!</h2>
      <p class="cs-text">
        Since 1960, our family-owned business has been dedicated to providing
        superior drywall services for projects of all sizes. Over the years, our
        commitment to excellence has only strengthened.
      </p>
      <p class="cs-text">
        Our skilled team combines time-tested techniques with innovative
        approaches to deliver impeccable results, earning trust and appreciation
        from thousands of satisfied customers.
      </p>
      <div class="cs-flex-group">
        <p class="cs-flex-p">
          For over six decades, we've proudly served thousands of homeowners,
          with many becoming repeat customers. Their continued trust is the
          testament to our legacy.
        </p>
        <span class="cs-name">Kieran McEvoy</span>
        <span class="cs-job">Founder</span>
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/quote-white.svg"
          alt="gavel"
          width="136"
          height="77"
        />
      </div>
      <a href="/contact/" class="cs-button-solid">Contact Us</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/long-room-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/long-room.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/long-room.jpg"
          alt="long room with drywall"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/arch-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="kitchen ceiling restoration"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Drywall Services</span>
      <h2 class="cs-title">
        Professional Drywall Installation in Shelby County, TN
      </h2>
      <p class="cs-text">
        When it comes to drywall installation and repair, our seasoned experts
        ensure flawless finishes every time. We understand the nuances of the
        trade, promising top-tier workmanship.
      </p>
      <p class="cs-text">
        From homes to commercial spaces, our meticulous approach ensures walls
        that stand the test of time. Discover the unmatched quality that has set
        us apart for over 60 years.
      </p>
      <a href="/services/drywall-installation/" class="cs-button-solid"
        >Drywall Installation</a
      >
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/arch-m.webp"
        />
        <source media="(min-width: 601px)" srcset="/assets/images/arch.webp" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/arch.jpg"
          alt="drywall arch"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/sander-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/sander.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/sander.jpg"
          alt="drywall contractor with sander"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Drywall Repair</span>
      <h2 class="cs-title">Drywall Repair</h2>
      <p class="cs-text">
        Wear and tear is inevitable, and over time, your walls may show signs of
        damage, such as cracks or holes. At McEvoy & Sons Drywall of Germantown,
        we specialize in drywall repair services that bring your walls back to
        life.
      </p>

      <p class="cs-text">
        Our team assesses the extent of the damage and provides a comprehensive
        solution that not only fixes the immediate issues but also ensures
        long-term durability. Unlike quick fixes that last only a short while,
        our repair solutions are designed to withstand the test of time. This
        commitment to quality makes us the go-to experts for drywall repair in
        Germantown.
      </p>

      <a href="/services/drywall-repair/" class="cs-button-solid"
        >Learn About Drywall Repair</a
      >
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/living-room-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/living-room.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/living-room.jpg"
          alt="living room skimcoat"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/skimcoat-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/skimcoat.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/skimcoat.jpg"
          alt="skimcoat on drywall"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Drywall Skimcoating & Resurfacing</span>
      <h2 class="cs-title">Wall and Ceiling Restoration</h2>
      <p class="cs-text">
        Skimcoating and resurfacing are art forms in the world of drywall,
        capable of transforming your living spaces into a canvas of smooth,
        ready-to-paint surfaces. At McEvoy & Sons Drywall, we are masters in
        this field, providing top-notch skimcoating and resurfacing services.
      </p>

      <p class="cs-text">
        Why is skimcoating so crucial? The process fills in imperfections,
        leaving your walls and ceilings perfectly smooth and ready for painting
        or wallpapering. It's an ideal solution for both new constructions and
        renovation projects.
      </p>

      <p class="cs-text">
        Our professional team uses specialized techniques and materials to
        achieve that level-5 finish you've always wanted. With us, you're not
        just getting a service; you're getting an upgrade to your living spaces
        that adds value to your property.
      </p>
      <a href="/services/skimcoat-resurfacing/" class="cs-button-solid"
        >Learn About Skimcoating</a
      >
    </div>
  </div>
</section>

{% include 'components/faq.html' %}

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
  <div class="cs-container">
    <span class="cs-topper">Our Portfolio</span>
    <h2 class="cs-title">Top-Quality & Reliable Drywall Finishing</h2>
    <div class="cs-image-group">
      <!-- Row 1-->
      <div class="cs-row cs-row-1">
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port1-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port1.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port1.jpg"
            alt="new hallway drywall"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port4-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port4.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port4.jpg"
            alt="new home construction"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port7-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port7.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port7.jpg"
            alt="building a new wall"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
      </div>
      <!-- Row 2 -->
      <div class="cs-row cs-row-2">
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port2-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port2.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port2.jpg"
            alt="new kitchen"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port5-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port5.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port5.jpg"
            alt="apartment addition"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port8-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port8.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port8.jpg"
            alt="new kitchen walls"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
      </div>
      <!-- Row 3 -->
      <div class="cs-row cs-row-3">
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port3-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port3.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port3.jpg"
            alt="new kitchen"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port6-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port6.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port6.jpg"
            alt="apartment addition"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port9-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port9.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port9.jpg"
            alt="new kitchen ceiling with drywall"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
      </div>
    </div>
    <a href="/contact/" class="cs-button-solid">Contact Us</a>
  </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
  <div class="cs-container">
    <span class="cs-topper">Client Testimonials</span>
    <h2 class="cs-title">Hear Directly From Our Clients</h2>
    <p class="cs-text">
      Over the years, we've had the privilege to serve countless homeowners.
      Their words inspire us to constantly elevate our services. Here's what a
      few of them have to say.
    </p>
    <ul class="cs-card-group">
      <!-- Review 1 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/profile.svg"
          alt="profile picture"
          width="80"
          height="80"
        />
        <p class="cs-item-p">
          I'm in awe with amount of professionalism and urgency Kieran and
          Andrew showed when handling my job. I'm a young homeowner and budgeted
          a certain amount of money for renovations on a fixer upper. Kieran
          worked with me and never skipped a beat throughout the whole process.
          He had other bigger jobs that needed attention but made me feel
          important. He was very honest with me and didn't try to rip me off. He
          overlooked and inspected the job far beyond my expectations. It's hard
          to find good guys like that these days. I'd give 10 stars if I could.
          Whether you're a homeowner or a business, you need to save their
          number.
        </p>
        <span class="cs-reviewer">
          Mike L.
          <span class="cs-desc">Satisfied Homeowner</span>
        </span>
        <img
          class="cs-item-stars"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          <!--
          src="/assets/svgs/stars-yellow.svg"
          --
        />
      </li>
      <!-- Review 2 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/profile-woman.svg"
          alt="profile picture"
          width="80"
          height="80"
        />
        <p class="cs-item-p">
          One can only hope the reviews are accurate when hiring someone without
          a referral. Kieran McEvoy lived up to the 5 star review. Punctual,
          efficient, professional and beautiful work. More than fair price too.
          He repaired the drywall from a leak I had a while back and installed
          some in a closet where another worker hadn’t finished a job. The pride
          in his work really shows.
        </p>
        <span class="cs-reviewer">
          Susan K.
          <span class="cs-desc">Happy Client</span>
        </span>
        <img
          class="cs-item-stars"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/stars-yellow.svg"
          alt="stars"
          width="96"
          height="16"
        />
      </li>
    </ul>
    <a
      aria-label="See All Testimonials"
      href="/reviews/"
      class="cs-button-solid"
      >See All Testimonials</a
    >
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
